# Virtual environments
.env
venv/
env/
buythedip/
containers-buythedip-env/
/bin/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Flask specific
instance/
.webassets-cache

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE and editor files
.vscode/
.idea/
*~

# OS specific files
.DS_Store
Thumbs.db